.arrow {
  width: 26px;
  height: 15px;
  margin-right: 12px;
  margin-top: 40px;
  transition: transform 0.4s;
  cursor: pointer;

  &--rotate {
    color: #f1cc9d;
    cursor: pointer;
    margin-top: 213px;
  }

  &:hover {
    transform: scale(1.2);
  }
}
