.toggle {
  display: none;

  &:checked ~ .btn > span {
    transform: rotate(45deg);
  }
  &:checked ~ .btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &:checked ~ .btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: $desktop-mini) {
  .btn {
    align-items: center;
    width: 26px;
    height: 26px;

    &__off,
    &__off::before,
    &__off::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: 0.25s;
    }
    &__off::before {
      content: "";
      top: -8px;
    }
    &__off::after {
      content: "";
      top: 8px;
    }

    @media screen and (min-width: 320px) and (max-width: 500px) {
      top: 45px;
      right: 10px;
    }
  }

  .btn--position {
    position: fixed;
    display: flex;
    align-items: center;
    right: 46px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 85px 20px;
    list-style: none;
    background-color: $secondary-titles-color;
    z-index: 1;
    transition: 1s;

    @media screen and (min-width: 320px) and (max-width: 500px) {
      width: 200px;
      padding: 85px 15px 0;
    }

    &__link:hover {
      color: #fff;
    }

    &--active {
      right: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding: 12px 24px;
    }
  }

  .phone__list {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
  }

  .phone__item {
    margin-bottom: 30px;
  }

  .toggle {
    display: none;
  }
}
