.card {
  padding: 40px 77px 120px 66px;
  background-color: $secondary-titles-color;

  &__title {
    font-size: 26px;
    margin-bottom: 24px;
    text-align: center;
  }

  &__adress {
    display: flex;
    align-items: center;
    gap: 37px;
    margin-bottom: 12px;
  }

  &__loc {
    width: 16px;
    height: 18px;
  }

  &__location {
    text-decoration: none;
    color: $text-color;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.5s;

    &:hover {
      color: #fff;
    }
  }
}
