.form {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  justify-content: center;

  &__city {
    width: 173px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: inherit;
    opacity: 0.5;
    font-size: 16px;
  }

  &__city--width {
    width: 335px;
  }
}
